body {
    background: #fffafa;
    font-family: sans-serif;
    color: black;
    text-align: left;
}
header {
    background: #ffffff;
    text-align: center;
}
footer {
    background: #708090;
    color: white;
    text-align: center;
}
a {
    color: black;
}
